/**************
 *
 * Font size
 *
 **************/

.Large { font-size: 144% }
.large { font-size: 120% }
.small { font-size: 90% }
.footnotesize { font-size: 80% }
.scriptsize { font-size: 70% }
.tiny { font-size: 60% }


/**************
 *
 * Centering (must set width to less than 100%)
 *
 **************/

.center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


/**************
 *
 * Highlight
 *
 **************/

.hl { background-color: yellow; }


/**************
 *
 * Rotations
 *
 **************/

.rotate-left {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg); 
}

.rotate-right {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);     
}



/********** 
 * 
 * Image stuff
 *
 ************/

.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}


